.author {
    width: 100%;
    padding: 0.5em;
    text-align: center;

    div {
        font-weight: 300;
        background: transparent;
        color: hsl(var(--txt));
        font-family: "Yanone Kaffeesatz";
    }

    span {
        font-weight: 800;
        color: hsl(var(--accent));
        font-family: "Yanone Kaffeesatz";
        background: transparent;
    }

    a {
        background: transparent;
        text-decoration: none;
    }
}