.header {
    padding: 1rem 0;
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin: 0 auto;
    font-size: 2rem;

    span {
        font-family: "Yanone Kaffeesatz";

    }

    div {
        display: flex;
        align-items: baseline;
        justify-content: center;
        width: 500px;
        cursor: pointer;
        font-weight: 800;

    }

    img {
        width: 1.5rem;
        margin-right: 0.2vw;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        width: 50vw;

    }

    .title {
        padding: 0.2em;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1rem;

    }

    .db {
        color: hsl(var(--accent));
    }
}

.themebutton {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
}